{# dictionary.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Diccionario - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container mt-5 text-white">     
     <h1 class="text-center">Diccionario</h1>
        <p class="text-center mt-3">
            Palabra: <strong class= "bg-primary rounded p-2">{{ word }}</strong>
        </p>
        <p class="text-center mt-3">
            Definición:
        </p>
        <p class="text-center mt-3">
            <strong>
            {{ definition }}
            </strong>
        </p>
        <div class="text-center mt-4">
            <a href="{{ path('magic_number') }}" class="btn btn-success btn-lg">Escoger otro número mágico</a>
        </div>
    </div>

{% endblock %}