{# error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ERROR - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container mt-5 text-white">
        <h1 class="text-danger display-1">Error</h1>
        <h2>{{ message }}</h2>
        <div class="text-center mt-4">
            <a href="{{ path('magic_number') }}" class="btn btn-success btn-lg">¡ROMPER EL MALEFICIO - GENERAR NUEVO NÚMERO!</a>
        </div>
    </div

{% endblock %}
