{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}ERROR - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container mt-5 text-white">
        <h2 class="text-center mt-3">
            Escoge el número mágico que te traerá suerte y fortuna. Si estás preparado/a para este evento, pulsa el botón.
        </h2>
        <div class="text-center mt-4">
            <a href="{{ path('magic_number') }}" class="btn btn-success btn-lg">¡Escoger número mágico!</a>
        </div>
    </div>

{% endblock %}