{# magic_number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Diccionario - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container mt-5 text-white">
        <h1 class="text-center">Número Mágico</h1>
        <h2 class="text-center mt-3">
            Tu número mágico es: <span class="magic-number 
                         {% if magicNumber is even %}
                         text-primary
                         {% else %}
                         text-danger
                         {% endif %} 
                         display-6">
                {{ magicNumber }}
            </span>
        </h2>
        <p class="text-center mt-3">
            Este número te traerá muy buena suerte.
        </p>
        <p class="text-center mt-3">
            ¿Quieres conocer la palabra mágica asociada a este número?
            <a class="btn btn-primary" href="{{ path('magic_word', {'number': magicNumber}) }}">Haz clic aquí <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
        </p>
        <div class="text-center mt-4">
            <a href="{{ path('magic_number') }}" class="btn btn-success btn-lg">Escoger otro número mágico</a>
        </div>
    </div>

{% endblock %}